<% include partials/header.ejs %>

<br>
<br>
<form action="/savedVersions" method="Post">
	<input type="text" name="school_name" placeholder="School Name">
	<input type="text" name="address" placeholder="Address">
	<input type="text" name="date" placeholder="Date">
	<input type="text" name="reason" placeholder="Reason">
	<input type="text" name="name" placeholder="Name">
	<br>
	<br>
	<input type="text" name="comment" placeholder="Add a comment">
	<button type="submit">Submit</button>
</form>

<% include partials/footer.ejs %>